<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controller</title>
    <head>
        <meta charset="UTF-8">
        <title>TruckPlatooning</title>

        <title>Truck Platooning</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


        <style>


            body {
                margin:1
                padding: 1;
                background-color: #bcc0c4;

            }

            button {
                font-size: 20px;
                border-radius: 5px;
            }

            fieldset {
                margin-right: 35%;
                margin-left: 35%;
                text-align:center;

            }

        </style>

    </head>


<body>

<header>
    <p th:text="''"/>
</header>

<br>
<br>
<br>
<br>

<fieldset>

    <div class="lead">
        <legend><h2>Master</h2></legend>

        <form action="/acc" method="POST">
            <label>
                <input type="number" placeholder="value" name="acc-value" required>
            </label>
            <button type="submit">accelerate</button>
        </form>


        <br>
        <br>

        <form action="/brake" method="POST">
        <label>
            <input type="number" placeholder="value" name="br-value" required>
        </label>
        <br>
        <button type="submit">brake</button>
        </form>

        <br>
        <br>
        <br>
        <br>


        <form action="/stop" method="POST">
        <button type="submit">stop</button>
        </form>

    </div>
</fieldset>



</body>
</html>