<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">


<head>

    <title>Truck Platooning</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>

    body {
    margin: 1;
    padding: 1;
    background-color: #bcc0c4;

    }

    button {
    font-size: 20px;
    border-radius: 5px;
    }

    fieldset {
    margin-right: 70%;
    text-align:center;

    }

    #stop-method-called{
    text-align:center;

    }

    #monitoring {
    text-align:center;
    }

   table, th, td {
   border: 1px solid black;
   margin-left: 600px;
   margin-top: -20%;
   height: 60px;

   }

   #lead-truck {
    color: green;
   }


    </style>


</head>

<body>


<header>

    <p th:text="''"/>

</header>

<main>


    <fieldset>
    <div class="start">
        <legend><h2>Driver</h2></legend>

        <button >start program</button>

        <button onclick="location.href = 'http://localhost:8080/end'">exit program</button>

    </div>

    </fieldset>

    <fieldset>
    <div class="lead">
        <legend><h2>Master</h2></legend>

        <button onclick="location.href = 'http://localhost:8080/speedplus'">accelerate</button>
        <button onclick="location.href = 'http://localhost:8080/speedminus'">brake</button>
        <button onclick="location.href = 'http://localhost:8080/stop'">stop</button>

    </div>
    </fieldset>


    <fieldset>
    <div class="trucks">

        <legend><h2>Truck</h2></legend>

        <input placeholder="ID or PID ">
        <button onclick="location.href = 'http://localhost:8080/join'">join Platoon</button>
        </br>
        <input placeholder="ID or PID">
        <button>leave Platoon</button>


    </div>
    </fieldset>

        <table style="width:65%">
            <thead>
            <tr>
                <th>truckId</th>
                <th>truckProcessId</th>
                <th>leadTruck</th>
                <th>truckInFront</th>
                <th>truckBehind</th>
                <th>speed</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="truck:${truck}">
                <td th:text="${truck.truckId}"></td>
                <td th:text="${truck.truckProcessId}"></td>
                <td id="lead-truck" th:text="${truck.leadTruck}"></td>
                <td th:text="${truck.truckInFront}"></td>
                <td th:text="${truck.truckBehind}"></td>
                <td th:text="${truck.speed}"></td>

            </tr>
            </tbody>

         </table>

    <h3>--> onStart()</h3>
    <marquee behavior="scroll" direction="left" scrollamount="2"> 🚚 </marquee>
    <h3>--> joinPlatoon()</h3>
    <marquee behavior="scroll" direction="left" scrollamount="2"> 🚚 <---> 🚛  (platoonJoined)</marquee>
    <h3>--> joinPlatoon()</h3>
    <marquee behavior="scroll" direction="left" scrollamount="2"> 🚚 <---> 🚛 <---> 🚛 (platoonJoined)</marquee>
    <h3>--> leavePlatoon()</h3>
    <marquee behavior="scroll" direction="left" scrollamount="2"> 🚚 <---> <i>EMPTY</i> <---> 🚛 (platoonLeaved -> GapArose)</marquee>
    <h3>--> closeGap() -> accelerate()</h3>
    <marquee behavior="scroll" direction="left" scrollamount="2"> 🚚 <---> 🚛 (speedIncreased -> GapClosed) </marquee>
    <h3>--> brake() -> adjustSpeed()</h3>
    <marquee behavior="scroll" direction="left" scrollamount="1"> 🚚 <---> 🚛 speedReduced</marquee>
    <h3>--> stop()</h3>
    <p id="stop-method-called"> 🚚 🚛  stopped</p>

</main>


<footer>


</footer>


</body>

</html>